<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ViewServlet</servlet-name>
        <servlet-class>Action.ConServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginadServlet</servlet-name>
        <servlet-class>controller.LoginadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpServlet</servlet-name>
        <servlet-class>Action.UpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>Action.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>Action.AddServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewServlet</servlet-name>
        <url-pattern>/View</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginadServlet</servlet-name>
        <url-pattern>/Loginad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpServlet</servlet-name>
        <url-pattern>/Up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>
</web-app>
